/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  margin-top: 36px;
  margin-bottom: 32px;
}

.form {
  width: 100%;
  margin: 0 auto;
}

.form-label {
  margin-right: 8px;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  width: 272px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: all 0.3s ease;
}

.form-input::placeholder {
  color: #808080;
}

.form-input:hover {
  border-color: #000;
}

.form-input:focus {
  border-color: #4e75ff;
}

.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: all 0.3s ease;
}

.form-btn:hover,
.form-btn:focus {
  background: #6c8cff;
  transform: scale(1.05);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  gap: 24px;
  padding: 0;
  margin: auto;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #808080;
  width: 360px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.item-link {
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0px 2px 4px 0px rgba(46, 47, 66, 0.8);
  transition: all 0.3s ease-in-out;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}

.img-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: auto;
  margin-top: 15px;
  padding: 4px 20px;
}

.img-info {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.info-accent {
  font-weight: 400;
}

.loader {
  display: none;
}

.loader.active {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.active::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

.load-btn {
  visibility: hidden;
  margin-bottom: 32px;
}

.load-btn.is-visible {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  margin-top: 32px;
  visibility: visible;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: all 0.3s ease;
}

.load-btn.is-visible:hover,
.load-btn.is-visible:focus {
  background: #6c8cff;
  transform: scale(1.05);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

